default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      threads: 3
      processes: <%= ENV.fetch("JOB_CONCURRENCY", 1) %>
      polling_interval: 0.1
  recurring_tasks:
    expire_shares:
      class: ExpireSharesJob
      schedule: every day at 1am in America/Sao_Paulo
  
development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
